{% extends 'core/base.html' %}

<!-- Title -->
{% block title %}داشبورد{% endblock %}

<!-- Content -->
{% block content %}
    <form class="bg-light rounded w-25 py-3" method="POST" action="{% url 'products:dashboard' %}" novalidate>
        {% csrf_token %}
        <div class="w-75 mx-auto mb-3">
            {{form.name.label}}
            {{form.name}}
            {% if form.name.errors %}
                <div class="alert alert-danger mt-3 text-decoration-none pb-0 px-0">
                    {{form.name.errors}}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-outline-dark mx-auto d-block w-50">ذخیره</button>
    </form>
{% endblock %}